<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="game-field-backround">
        <div class="game-field">
          <div class="cell" data-index="0"></div>
          <div class="cell" data-index="1"></div>
          <div class="cell" data-index="2"></div>
          <div class="cell" data-index="3"></div>
          <div class="cell" data-index="4"></div>
          <div class="cell" data-index="5"></div>
          <div class="cell" data-index="6"></div>
          <div class="cell" data-index="7"></div>
          <div class="cell" data-index="8"></div>
        </div>
      </div>
      <div class="players-turn">Player 1</div>
      <div class="whose-turn">YOUR TURN</div>
      <img class="info-icon" src="images/information.png" />
      <div class="time-remaining">time remaining: 15 seconds</div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
