<h2 mat-dialog-title>Navodila Igre</h2>
<div mat-dialog-content>
  <p>Pozorno preberite...</p>
  <p>
    Igra se začne tako, da vsak igralec prejme 5 kart. Ni pomembno, ali
    nasprotniki vidijo karte, saj to ne vpliva na izid igre. Na mizi (ali
    ekranu) je iz kart oblikovana piramida, kjer so karte obrnjene z licem
    navzdol. Karte v piramidi se obračajo ena za drugo. Če igralec med svojimi
    kartami najde karto z enako številko kot obrnjena karta na piramidi (simbol
    ni pomemben), lahko svojo karto položi nanjo. Nato izbere poljubnega
    igralca, ki mora narediti določeno število požirkov pijače. <br /><br />
    Vrednost kart v piramidi narašča glede na vrsto: <br />
    Karte v prvi (spodnji) vrsti so vredne en požirek.<br />Karte v drugi vrsti
    so vredne dva požirka.<br />
    Karte v tretji vrsti so vredne tri požirke, in tako naprej do pete
    vrstice.<br />
    Ko so vse karte piramide obrnjene, se določi igralca z največ preostalimi
    kartami, ki bo "vozil avtobus". Če imata dva igralca enako število kart, se
    upošteva skupna vrednost kart – igralec z višjo vrednostjo vozi avtobus. Če
    sta skupni vrednosti enaki, oba igralca vozita avtobus.<br />
    Igralec, ki vozi avtobus, ima pred seboj 8 kart, razporejenih v dve vrsti po
    štiri. Vse karte so obrnjene z licem navzdol. <br /><br />Postopek je
    naslednji: <br />Karte se ena za drugo obračajo, začenši s prvo.<br />
    Igralec mora pred vsakim obratom ugibati, ali bo naslednja karta višja ali
    nižja po vrednosti. <br />Če pravilno ugane, se obrne naslednja karta,
    postopek pa se nadaljuje do konca.<br />
    Če napačno ugane, se mora pomakniti eno karto nazaj in narediti požirek
    pijače. Nato nadaljuje z ugibanjem od tam.<br /><br />
    Poseben primer nastane, če je vrednost naslednje karte enaka trenutni:
    <br />V tem primeru mora igralec popiti celotno pijačo (kozarec) in začeti
    znova od prve karte. Karte, ki so bile že odkrite, ostanejo na svojih
    mestih. Cilj je pravilno obrniti vseh 8 kart in končati vožnjo z avtobusom
    brez prevelikega števila napak.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
