<div class="bus-body">
    <h1>THE BUS</h1> 
    <div class="two-rows">
        <!-- Prva vrstica -->
        <div class="row">
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
        </div>
      
        <!-- Druga vrstica -->
        <div class="row">
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
          <div class="card-container">
            <img [src]="'assets/Images/card-back-side.svg'" class="card">
          </div>
        </div>
      </div>
      
</div>
  