<div class="container">
  <div class="welcome">
    <h2>Profila uporabnika:</h2>
    <h2 id="username">{{ userName }}</h2>
  </div>

  <div *ngIf="loading" class="loading">
    <p>Nalaganje...</p>
  </div>

  <div *ngIf="error" class="error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="!loading && !error" class="statistics">
    <h3>Statistike:</h3>

    <div class="statistic-item first-item">
      <strong>Število prijateljev:</strong>
      <p>{{ statistics.friendCount || 0 }}</p>
    </div>

    <div class="statistic-item">
      <strong>Vse odigrane igre:</strong>
      <p>{{ statistics.gameCount || 0 }}</p>
    </div>

    <div class="statistic-item">
      <strong>Povprečna ocena:</strong>
      <p>{{ statistics.avgRating || 0 }}</p>
    </div>

    <div class="statistic-item">
      <strong>Seznam prijateljev:</strong>
      <p>{{ statistics.friendList }}</p>
    </div>

    <div class="statistic-item last-item">
      <strong>Račun ustvarjen dne:</strong>
      <p>{{ statistics.accountCreated || "N/A" }}</p>
    </div>
    <div class="btns">
      <button class="btn btn-secondary" (click)="returnToHub()">Return</button>
      <button class="btn btn-secondary" id="logout" (click)="logout()">
        Log Out
      </button>
    </div>
  </div>
</div>
