<div class="container">
  <div class="navbar">
    <div class="nav-left">
      <img
        src="/assets/Images/party-logo-small.png"
        alt="logo-sml"
        height="110px"
        width="110px"
      />
    </div>
    <div class="nav-right">
      <ul>
        <fa-icon
          [icon]="['fas', 'cog']"
          size="2x"
          (click)="navigateToSettings()"
        ></fa-icon>
        <fa-icon
          [icon]="['fas', 'user-circle']"
          (click)="navigateToProfile()"
          size="2x"
        ></fa-icon>
      </ul>
    </div>
  </div>

  <div class="game-section">
    <div class="game-container">
      <div class="img-container">
        <img
          src="/assets/Images/dtb.jpg"
          alt="bus"
          height="220px"
          width="175px"
        />
      </div>
      <div class="desc-n-play">
        <div class="opis">
          <h1>Kdo vozi avtobus</h1>
          <p>Kratek opis</p>
        </div>
        <button (click)="NavigateToBus()">Igraj</button>
      </div>
      <div class="how-btn">
        <button (click)="OpenHelp()">Navodila</button>
      </div>
      <div class="stats">
        <h3>Igre odigrane: <br />12</h3>
        <div class="rating">
          <p>Oceni igro:</p>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
        </div>
      </div>
    </div>
    <div class="game-container">
      <div class="img-container">
        <img
          src="/assets/Images/neverhave.png"
          alt="everhave"
          height="220px"
          width="170px"
        />
      </div>
      <div class="desc-n-play">
        <div class="opis">
          <h1>Never have i ever</h1>
          <p>Kratek opis</p>
        </div>
        <button (click)="NavigateToNHIE()">Igraj</button>
      </div>
      <div class="how-btn">
        <button (click)="OpenHelpNHIE()">Navodila</button>
      </div>
      <div class="stats">
        <h3>Igre odigrane: <br />12</h3>
        <div class="rating">
          <p>Oceni igro:</p>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
        </div>
      </div>
    </div>

    <div class="game-container">
      <div class="img-container">
        <img
          src="/assets/Images/truthOrDare.png"
          alt="bus"
          height="220px"
          width="175px"
        />
      </div>
      <div class="desc-n-play">
        <div class="opis">
          <h1>Truth or Dare</h1>
          <p>Kratek opis</p>
        </div>
        <button (click)="NavigateToTruthOrDare()">Igraj</button>
      </div>
      <div class="how-btn">
        <button (click)="OpenHelp()">Navodila</button>
      </div>
      <div class="stats">
        <h3>Igre odigrane: <br />12</h3>
        <div class="rating">
          <p>Oceni igro:</p>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
        </div>
      </div>
    </div>

    <div class="game-container">
      <div class="img-container">
        <img
          src="/assets/Images/truthOrDare.png"
          alt="bus"
          height="220px"
          width="175px"
        />
      </div>
      <div class="desc-n-play">
        <div class="opis">
          <h1>Tic Tac Toe</h1>
          <p>Kratek opis</p>
        </div>
        <button (click)="NavigateToTicTacToe()">Igraj</button>
      </div>
      <div class="how-btn">
        <button (click)="OpenHelp()">Navodila</button>
      </div>
      <div class="stats">
        <h3>Igre odigrane: <br />12</h3>
        <div class="rating">
          <p>Oceni igro:</p>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
          <fa-icon [icon]="['fas', 'star']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
