<div class="container">
  <div class="navbar">
    <div class="nav-left">
      <img
        src="/assets/Images/party-logo-small.png"
        alt="logo-sml"
        height="110px"
        width="110px"
      />
    </div>
    <div class="nav-right">
      <ul>
        <li>settings</li>
        <li>profile</li>
      </ul>
    </div>
  </div>

  <div class="game-section">
    <div class="game-container">
      <div class="desc-n-play">
        <h1>Kdo vozi avtobus</h1>
        <p>Kratek opis</p>
        <button>Igraj</button>
      </div>
      <div class="how-btn">
        <button>Navodila</button>
      </div>
      <div class="stats">
        <h3>Igre odigrane: 12</h3>
      </div>
    </div>
    <div class="game-container">
      <h1>never have i ever</h1>
    </div>
  </div>
</div>

<!-- <router-outlet>
  <button (click)="navigateToBuser()">BUSER</button>
</router-outlet> -->
