.hub-container {
  height: 100%;
  background-color: #1f1f1f;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

:host {
  height: 100%;
  width: 100%;
}

.nav-right {
  padding-right: 3rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}
fa-icon {
  color: rgb(255, 255, 255);
}
fa-icon:hover {
  color: #f4a261;
  cursor: pointer;
}

.game-container fa-icon:hover {
  color: #000000;
}

.game-section {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #f4a261;
  padding-bottom: 4rem;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70rem;
  height: 18rem;
  border: 3px solid black;
  padding: 1rem;
  gap: 1rem;
}

.img-container {
  width: 175px;
  height: 222px;
}

.img-container img {
  border: 2px solid white;
}

.desc-n-play {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.opis {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.how-btn {
  align-self: flex-end;
  padding-bottom: 2.5rem;
}

.desc-n-play button {
  color: white;
  text-transform: uppercase;
  width: 7rem;
  height: 2rem;
  background-color: #2b2b2b;
  border: 2px solid white;
}

.desc-n-play button:hover {
  cursor: pointer;
  background-color: #206329;
  border: 2px solid white;
}

.how-btn button:hover {
  cursor: pointer;
  border: 3px solid black;
}

.how-btn button {
  color: black;
  text-transform: uppercase;
  width: 6rem;
  height: 2rem;
  background-color: rgb(219, 219, 219);
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

/* * {
  border: 1px solid black;
} */
