<h2 mat-dialog-title>Navodila Igre</h2>
<div mat-dialog-content>
  <p>Pozorno preberite...</p>
  <p>
    1. Začetek igre<br />
    Igra se začne s 10 življenji. Na ekranu se prikaže naključno vprašanje, npr.
    "Nikoli nisem lagal svojim staršem.". <br /><br />2. Odgovarjanje na
    vprašanja<br />
    Igralec ima na izbiro dva gumba: I Have (Sem to storil/-a) ali I Have Not
    (Nisem to storil/-a). Če igralec pritisne I Have, izgubi eno življenje. Če
    izbere I Have Not, se ne zgodi nič in igra se nadaljuje z naslednjim
    vprašanjem. <br /><br />3. Cilj igre <br />Cilj je odgovoriti na čim več
    vprašanj, preden zmanjka življenj. <br /><br />4. Konec igre <br />Ko
    zmanjka vseh življenj, se igra konča. Na ekranu se prikaže sporočilo "Game
    Over" in možnost za ponovni začetek igre. <br /><br />5. Ponovni začetek<br />
    Kliknite gumb Restart, da začnete znova s 10 življenji in novimi vprašanji.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
