body {
  margin: 0;
  padding: 0;
  background-image: url("images/truth_or_dare_backround.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.dark-backround {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.choose-field {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 697px;
  height: 382px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.truth-or-dare {
  color: #ffffff;
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-size: 43px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 40px;
  width: 447px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
.choose-type-of-game {
  color: #000000;
  text-align: center;
  font-family: "Holtwood One SC", serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 15%;
  width: 534px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.normal {
  width: 258px;
  height: 90px;
  position: static;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.normal,
.couples,
.party,
.extreme {
  margin: 10px 0;
}
.field-normal {
  background: #bceef3;
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 258px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  right: 180px;
  bottom: 235px;
}
.normal-text {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji-normal {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-couples {
  background: #ffb2b2;
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 258px;
  height: 90px;
  position: absolute;
  left: 367px;
  top: 111px;
}
.emoji-couples {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 400px;
  top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.couples-text {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 445px;
  top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party {
  width: 258px;
  height: 90px;
  position: static;
}
.field-party {
  background: #c9fec4;
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 258px;
  height: 90px;
  position: absolute;
  left: 38px;
  top: 254px;
}
.emoji-party {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 90px;
  top: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.party-text {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 137px;
  top: 277px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extreme {
  width: 258px;
  height: 90px;
  position: static;
}
.field-extreme {
  background: #d5cdd6;
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 258px;
  height: 90px;
  position: absolute;
  left: 366px;
  top: 254px;
}
.emoji-extreme {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 394px;
  top: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extreme-text {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 431px;
  top: 277px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-icon {
  width: 35px;
  height: 36px;
  position: absolute;
  left: 640px;
  bottom: 324px;
  object-fit: cover;
}
.truth,
.dare {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.field-truth,
.field-dare {
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.field-truth {
  background: #2daeff;
}

.field-dare {
  background: #ff2f27;
}

.truth-text,
.dare-text {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.emoji-truth,
.emoji-dare {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.question-field {
  background: #ffffff;
  border-radius: 29px;
  border-style: solid;
  border-color: #000000;
  border-width: 5px;
  width: 40%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.5s ease;
}

.question-text {
  color: #000000;
  text-align: center;
  font-family: "Hanuman-Black", sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.question-field.truth {
  background: #2daeff;
}

.question-field.dare {
  background: #ff2f27;
}
