<div class="drive-the-bus-container"> 
  <h1>DRIVE THE BUS</h1>
  <div class="lobby-section">
    <fa-icon class="exit" (click)="NavigateToHubPage()" [icon]="['fas', 'xmark']" size="2x"></fa-icon>
    <div class="first-row">
      <div class="left-side">
        <div class="title1"> 
          <button class="btn-create">Create lobby</button> 
        </div>
        <div class="lobby-code1">
          <label class= "Your-code">Your code:</label>
          <input class= "your-code-box" type="text" value="xxxxxx" readonly />
        </div>
        <div class="button1">
          <button class= "btn-start" (click)="NavigateToPyramid()">Start</button>
        </div>
      </div>
      <div class="right-side">
        <div class="title2">
          <button class="btn-join">Join lobby</button>
        </div>
        <div class="lobby-code2">
          <label class = "Enter-code">Enter code:</label>
          <input type="text" placeholder="Enter code" />
        </div>
        <div class="button2">
          <button class="btn-join-lobby">Join</button>
        </div>
      </div>
    </div>
    <div class="lobby-footer">
          <fa-icon [icon]="['fas', 'user']" size="2x"></fa-icon>
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
          <button class="btn-invite"(click)="OpenFriendsList()">INVITE</button>
    </div>
  </div>
</div>