<div class="drive-the-bus-container"> <!--preimenuj?-->
    <h1>DRIVE THE BUS</h1>
    <div class="lobby-section">
      <div class="lobby-buttons">
        <button class="btn-create">Create lobby</button>
        <button class="btn-join">Join lobby</button>
      </div>
      <div class="lobby-inputs">
        <div>
          <label class= "Your-code">Your code:</label>
          <input type="text" value="xxxxxx" readonly />
        </div>
        <button class= "btn-start">Start</button>
        <div>
          <label class = "Enter-code">Enter code:</label>
          <input type="text" placeholder="Enter code" />
        </div>
        <button class="btn-join-lobby">Join</button>
      </div>
      <div class="lobby-footer">
        <div class="footer-icons">
          <span class="icon">👤</span>
          <span class="icon">➕</span>
          <span class="icon">➕</span>
          <span class="icon">➕</span>
          <button class="btn-invite">INVITE</button>
        </div>
      </div>
    </div>
  </div>