  .drive-the-bus-container {
    background-image: url('/assets/Images/buser_background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    width: 100vw;
  }

  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
  
  .lobby-section {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.2);
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    width: 90%;
    margin: 0 auto; 
    padding: 20px; 
  }

  .left-side{
    width: 50%;
    text-align: center;
    flex-direction: column;
  }

  .lobby-code1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .right-side {
    width: 50%;
    text-align: center;
    flex-direction: column;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-create, .btn-join {
    background-color: hsla(120, 11%, 77%, 0.3);
    border-style: solid;
    color: rgb(0, 0, 0);
    
  }

  .btn-create, .btn-join{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: solid;
    border-radius: 5px;
  }
  
  .btn-start, .btn-join-lobby {
    background-color: #28a745;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 5px;
    border-width: 2px;
  }
  
  .btn-start:hover, .btn-join-lobby:hover {
    background-color: #218838;
  }
  
  .lobby-footer {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin: 0 10px;
  }
  
  .btn-invite {
    background-color: #7d7e80;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
  }
  
  .btn-invite:hover {
    background-color: #ffffff;
  }

  .Your-code, .Enter-code{
    color: rgb(255, 255, 255);
  }

  h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
  }

  fa-icon {
    margin: 10px;
    color:black;
  }

  .exit {
    position: absolute;
    top: 10px; 
    left: 10px;
    cursor: pointer; 
  }

  .exit:hover, fa-icon:hover {
    color: #ffffff;
  }