<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="truth-or-dare-choose-type">
      <img
        class="truth-or-dare-backround-3"
        src="images/truth_or_dare_backround.png"
      />
      <div class="rectangle-16"></div>
      <div class="frame"></div>
      <div class="truth-or-dare">TRUTH OR DARE</div>
      <div class="choose-type-of-game">CHOOSE TYPE OF GAME</div>
      <div class="normal">
        <div class="rectangle-17"></div>
        <div class="normal2">NORMAL</div>
        <div class="div">😄</div>
      </div>
      <div class="couples">
        <div class="rectangle-172"></div>
        <div class="div2">🥰</div>
        <div class="couples2">COUPLES</div>
      </div>
      <div class="party">
        <div class="rectangle-173"></div>
        <div class="div3">🥳</div>
        <div class="party2">PARTY</div>
      </div>
      <div class="extreme">
        <div class="rectangle-174"></div>
        <div class="div4">🔥</div>
        <div class="extreme2">EXTREME</div>
      </div>
      <img class="information-2" src="images/information.png" />
    </div>
  </body>
</html>
